@font-face {
  src: url("./fonts/Montserrat-Regular.otf");
  font-family: "Montserrat-Regular"; }
@font-face {
  src: url("./fonts/Lato-Regular.ttf");
  font-family: "Lato-Regular"; }
@font-face {
  src: url("./fonts/Montserrat-ExtraBold.otf");
  font-family: "Montserrat-ExtraBold"; }
body {
  font-family: "Lato-Regular"; }

a {
  text-decoration: none; }

.container {
  width: 80%;
  margin: 0 auto; }

.header {
  width: 100%;
  height: 834px;
  background: #00a4ff;
  color: white;
  background-image: url(../img/header/bg_1600.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1; }

.header::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: rgba(0, 0, 0, 0.44);
  z-index: -1; }

.header__top {
  background-color: rgba(0, 0, 0, 0.39);
  font-family: "Montserrat-Regular", sans-serif;
  padding-top: 25px; }

.header__top__up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-left: 10px; }

.header__top__up i {
  color: #fbe900;
  font-size: 1.5em; }

.header__top__up__contact__item,
.header__top__up__social__item,
.header__top__up__lang__item {
  display: inline-block;
  font-size: 1em; }

.header__top__up__contacts {
  display: flex;
  justify-content: space-between;
  width: 45%; }

.header__top__up__contact__item__text {
  vertical-align: text-top; }

.header__top__up__contact__item i {
  padding-right: 5px; }

.header__top__up__social__item {
  padding-right: 10px; }
  .header__top__up__social__item:last-child {
    padding-right: 0px; }

.header__top__up__lang__item:first-child {
  color: #fbe900; }

hr {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(255, 255, 255, 0.9);
  height: 3px;
  margin: 0px;
  padding: 0px; }

.header__top__down {
  padding: 20px 10px 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header__top__down__logo h2 {
  font-size: 2em;
  font-family: "Montserrat-ExtraBold";
  font-weight: 300; }

.header__top__down__nav__toggle {
  display: none; }

.header__top__down__nav__item {
  display: inline-block;
  text-transform: uppercase;
  padding-right: 15px;
  letter-spacing: 1px; }

.header__top__down__nav__item:hover a {
  padding-bottom: 25px;
  border-bottom: 3px solid #fbe900; }

.header__top__down__nav__item:last-child {
  padding-right: 0px; }

.header__top__down__nav__item a {
  text-decoration: none;
  color: white; }

.header__content {
  padding-top: 220px;
  width: 80%;
  margin: 0 auto;
  text-align: center; }

.header__content__title {
  font-size: 3em;
  font-family: "Montserrat-ExtraBold";
  text-transform: uppercase;
  margin-bottom: 30px; }

.header__content__subtitle {
  font-size: 2em;
  font-family: "Montserrat-ExtraBold";
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 40px; }

/*# sourceMappingURL=main.css.map */
