// Fonts

@font-face {
  src: url("./fonts/Montserrat-Regular.otf");
  font-family: "Montserrat-Regular";
}

@font-face {
  src: url("./fonts/Lato-Regular.ttf");
  font-family: "Lato-Regular";
}

@font-face {
  src: url("./fonts/Montserrat-ExtraBold.otf");
  font-family: "Montserrat-ExtraBold";
}

$primary-font: 'Lato-Regular';
$font-stack: $primary-font, sans-serif;

$secondary-font: 'Montserrat-Regular', sans-serif;
$monserrat-exbold: 'Montserrat-ExtraBold';

// colors
$yellow: #fbe900;
$blue: #009eff;
$light-blue: #00a4ff;
$light-grey: #fdfdfd;
$black: #030303; // Titles

// Transparent Overlay Colors
$simple-black: rgb(0, 0, 0);
$simple-white: rgb(255, 255, 255);

$alpha: .39;
$alpha2: .44;
$transparent: rgba($simple-black, $alpha);
$transparent-white: rgba($simple-white, 0.9);

// Primary Colors
$primary-color: #fbe900;

// Generals
body {
  font-family: $primary-font;
}

a {
  text-decoration: none;
}
// Container

.container {
  width: 80%;
  margin: 0 auto;
}

// Header

.header {
  width: 100%;
  height: 834px;
  background: $light-blue;
  color: $simple-white;

  background-image: url(../img/header/bg_1600.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  position: relative;
  z-index: 1;

}
  .header::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba($simple-black, $alpha2);;
    z-index: -1;
  }

  .header__top {
    background-color: $transparent;
    font-family: $secondary-font;
    padding-top: 25px;
  }

  .header__top__up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-left: 10px;
    // z-index: 2;
  }


    // Header Top Up Items and Icons
    .header__top__up i {
      color: $yellow;
      font-size: 1.5em;
    }

    .header__top__up__contact__item,
    .header__top__up__social__item,
    .header__top__up__lang__item {
      display: inline-block;
      font-size: 1em;
    }

    // Header Contacts header__top__up__contacts
    .header__top__up__contacts {
      display: flex;
      justify-content: space-between;
      width: 45%;
    }

      .header__top__up__contact__item {
      }

        .header__top__up__contact__item__text {
          vertical-align: text-top;
        }

        .header__top__up__contact__item i {
          padding-right: 5px;
        }


    // Header Social header__top__up__social__item
    .header__top__up__social__item {
      padding-right: 10px;
      &:last-child {
        padding-right: 0px;
      }
    }

    // Header Languages
    .header__top__up__lang__item:first-child {
      color: $yellow;
    }
    hr {
      width: 100%;
      border: none;
      background-color: $transparent-white;
      color: $transparent-white;
      height: 3px;
      margin: 0px;
      padding: 0px;
    }


  // Header Top Down
  .header__top__down {
    padding: 20px 10px 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__top__down__logo {
    h2 {
      font-size: 2em;
      font-family: $monserrat-exbold;
      font-weight: 300;
    }
  }

  // Header Navigation
  .header__top__down__nav {
    // width: 50%;
  }

  .header__top__down__nav__list {
    // display: flex;
    // justify-content: space-between;
    // width: 100%;
  }
  .header__top__down__nav__toggle {
    display: none;
  }
  .header__top__down__nav__item {
    display: inline-block;
    text-transform: uppercase;
    padding-right: 15px;

    // font-weight: 100;
    letter-spacing: 1px;
    // padding-bottom: 15px;
  }

    .header__top__down__nav__item:hover a {
      padding-bottom: 25px;
      border-bottom: 3px solid $yellow;
    }

  .header__top__down__nav__item:last-child {
    padding-right: 0px;
  }

  .header__top__down__nav__item a {
    text-decoration: none;
    color: $simple-white;
  }

  // Header content
  .header__content {
    padding-top: 220px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

    .header__content__title {
      font-size: 3em;
      font-family: $monserrat-exbold;
      text-transform: uppercase;
      margin-bottom: 30px; //Поменять на резиновые значения
    }

    .header__content__subtitle {
      font-size: 2em;
      font-family: $monserrat-exbold;
      font-weight: 100;
      text-transform: uppercase;
      margin-bottom: 40px; //Поменять на резиновые значения
    }
// end of Header
