// Fonts

@font-face {
  src: url("./fonts/Montserrat-Regular.otf");
  font-family: "Montserrat-Regular";
}

@font-face {
  src: url("./fonts/Lato-Regular.ttf");
  font-family: "Lato-Regular";
}

@font-face {
  src: url("./fonts/Montserrat-ExtraBold.otf");
  font-family: "Montserrat-ExtraBold";
}

$primary-font: 'Lato-Regular';
$font-stack: $primary-font, sans-serif;

$secondary-font: 'Montserrat-Regular', sans-serif;
$monserrat-exbold: 'Montserrat-ExtraBold';
$secondary-font-bold: $monserrat-exbold;

  //Font Sizes
  @mixin section-title() {
    font-size: 2em;
    font-family: $secondary-font-bold;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 20px;
  }

  @mixin section-subtitle() {
    font-size: 2em;
    font-family: $secondary-font;
    text-align: center;
    padding-bottom: 70px;
  }

  @mixin paragraph() {
    font-family: $primary-font;
    font-size: 1em;
    line-height: 25px;
  }

  @mixin small-title () {
    font-size: 1.1em;
    font-family: $secondary-font;
    font-weight: 800;
  }

  @mixin bold-title () {
    font-family: $secondary-font-bold;
    font-size: 1.2em;
  }

  @mixin bg() {
    width: 100%;
    height: 834px;
    background: $light-grey;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  @mixin yellow-button() {
    border-radius: 4px;
    padding: 14px 50px;
    background-color: $yellow;
    color: $black;
    font-family: $secondary-font;
    font-weight: 800;
    text-transform: uppercase;
  }

// colors
$yellow: #fbe900;
$blue: #009eff;
$light-blue: #00a4ff;
$light-grey: #fdfdfd;
$black: #030303; // Titles

// Transparent Overlay Colors
$simple-black: rgb(0, 0, 0);
$simple-white: rgb(255, 255, 255);

$alpha: .39;
$alpha2: .44;
$transparent: rgba($simple-black, $alpha);
$transparent-white: rgba($simple-white, 0.9);

// Primary Colors
$primary-color: #fbe900;

// Generals
body {
  font-family: $primary-font;
}

a {
  text-decoration: none;
}
p, li, ul {
  margin: 0;
  padding: 0;
}
// Container

.container {
  width: 80%;
  margin: 0 auto;
}

// Header

.header {
  width: 100%;
  height: 834px;
  background: $light-blue;
  color: $simple-white;

  background-image: url(../img/header/bg_1600.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  position: relative;
  z-index: 1;

}
  .header::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba($simple-black, $alpha2);;
    z-index: -1;
  }

  .header__top {
    background-color: $transparent;
    font-family: $secondary-font;
    padding-top: 25px;
  }

  .header__top__up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-left: 10px;
    // z-index: 2;
  }


    // Header Top Up Items and Icons
    .header__top__up i {
      color: $yellow;
      font-size: 1.5em;
    }

    .header__top__up__contact__item,
    .header__top__up__social__item,
    .header__top__up__lang__item {
      display: inline-block;
      font-size: 1em;
    }

    // Header Contacts header__top__up__contacts
    .header__top__up__contacts {
      display: flex;
      justify-content: space-between;
      width: 45%;
    }

      .header__top__up__contact__item {
      }

        .header__top__up__contact__item__text {
          vertical-align: text-top;
        }

        .header__top__up__contact__item i {
          padding-right: 5px;
        }


    // Header Social header__top__up__social__item
    .header__top__up__social__item {
      padding-right: 10px;
      &:last-child {
        padding-right: 0px;
      }
    }

    // Header Languages
    .header__top__up__lang__item:first-child {
      color: $yellow;
    }
    hr {
      width: 100%;
      border: none;
      background-color: $transparent-white;
      color: $transparent-white;
      height: 3px;
      margin: 0px;
      padding: 0px;
    }


  // Header Top Down
  .header__top__down {
    padding: 20px 10px 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__top__down__logo {
    h2 {
      font-size: 2em;
      font-family: $monserrat-exbold;
      font-weight: 300;
    }
  }

  // Header Navigation
  .header__top__down__nav {
    // width: 50%;
  }

  .header__top__down__nav__list {
    // display: flex;
    // justify-content: space-between;
    // width: 100%;
  }
  .header__top__down__nav__toggle {
    display: none;
  }
  .header__top__down__nav__item {
    display: inline-block;
    text-transform: uppercase;
    padding-right: 15px;

    // font-weight: 100;
    letter-spacing: 1px;
    // padding-bottom: 15px;
  }

    .header__top__down__nav__item:hover a {
      padding-bottom: 25px;
      border-bottom: 3px solid $yellow;
    }

  .header__top__down__nav__item:last-child {
    padding-right: 0px;
  }

  .header__top__down__nav__item a {
    text-decoration: none;
    color: $simple-white;
  }

  // Header content
  .header__content {
    padding-top: 180px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

    .header__content__title {
      font-size: 3em;
      font-family: $monserrat-exbold;
      text-transform: uppercase;
      margin-bottom: 30px; //Поменять на резиновые значения
    }

    .header__content__subtitle {
      font-size: 2em;
      font-family: $monserrat-exbold;
      font-weight: 100;
      text-transform: uppercase;
      margin-bottom: 40px; //Поменять на резиновые значения
    }

    .header__content__text {
      margin: 0 auto;
      width: 75%;
      margin-bottom: 50px;
    }

    .header__content__button {
      @include yellow-button();
    }
// end of Header






// Main

  // Service

  .main__service {
    width: 100%;
    background-color: $light-grey;
  }

    .main__service__title {
      @include section-title();
    }

    .main__service__subtitle {
      @include section-subtitle();
    }

    .main__service__items {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin: 0 auto;
    }
      .main__service__list__left {
      }

      .main__service__list__left,
      .main__service__list__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        // background-color: purple;
        width: 47%;
      }

      .main__service__item {
        display: flex;
        padding-bottom: 60px; //Возможно поменять на %
          i {
            float: left;
            font-size: 3em;
            color: $blue;
            padding-right: 40px;
          }
          h3 {
            @include small-title();
            padding-bottom: 15px;
          }
          p {
            @include paragraph();
          }
      }
      .main__service__item__content p {
      }

  // Blog

  .main__blog {
    @include bg();
    background-image: url(../img/blog/bg_1600.jpg);
  }

    .main__blog__posts {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .main__blog__post {
      max-width: 32%;
      img {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      div {
        margin-top: -2px;
        background-color: $simple-white;
        text-align: center;
        padding-top: 70px;
        padding-bottom: 45px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        position: relative;
        .post__button {

          position: absolute;
          top: -20px;
          width: 50%;
          height: 15px;
          left: 26%;
          // margin-left: auto;
          // margin-right: auto;
          padding-top: 15px;
          padding-bottom: 15px;
          // margin: 0 auto;

          border-radius: 4px;
          background-color: $yellow;
          color: $black;
          font-family: $secondary-font;
          font-weight: 800;
          text-transform: uppercase;
        }
      }
      h3 {
        @include bold-title();
        margin-bottom: 25px;
      }
      p {
        line-height: 25px;
      }
    }
// End of Main



// Media Queries

// 1010
@media screen and (max-width: 1010px) {
  .header__top__up__contacts {
    width: 50%;
  }
}

// 768
@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
  .header__top__up__contacts {
    width: 60%;
  }
}
